body {
    background-color: blue;
}


h2 {
    color: red;
    text-size: 30px;
}
h2 {
    text-decoration: underline;
}
p {
    color: red;
    background-color: white;
}

h3 {
    color: red;
    text-size: 20px;

}

